// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body{
	background:#8B15F3;
}
p {
	display: flex;
}
.content{
	h1{
		font-weight: 100;
		font-size:4em;
	}
	h2 {
	  font-size: 3.0vw;
	}
	h5 {
	  font-size: 1.0vw;
	}
	p {
	  font-size: 1.0vw;
	  //word-break:break-all;
	}
	h1:after{
		content: " ";
		display:block;
		height:2px;
		width:50px;
		/*background:red;*/
		margin:auto;
		margin-top:.1em;
	}
}
.muted-text{
	color:#9B9B9B;
}
.card{
	background:#fff;
	border-radius:10px;
	margin-top:1em;
	min-height: 97vh;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,1);
	-moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,1);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,1);
	.header-pic {
		border-radius: 10px 10px 0 0;
	}
	.user {

		margin-bottom: 15px;
	}
	.fact {

		margin-top: 9px;
		margin-left: -15px;

	}
	img{

		padding: 0;
		max-width: 100%;
		min-width: 100%;
		height: auto;
		margin: auto;

	}
	h5{
		margin: auto;
	}
	.pic{

		clip-path: circle(50.0% at 50% 50%);
		-webkit-clip-path: circle(50.0% at 50% 50%);

		}
	.status {

	    position:absolute;
	    bottom: 10px;
	    left: 80%;
	}
	.out {

		color: #A8A8A8;

	}

	.in {

		color:#28C41A;

	}
}
.info{

	padding: .5em 1.5em .5em 1.5em;
}
